In [2]:
import pandas as pd
cluster_assignments = pd.read_csv('../sample_clusters.csv', index_col=0)
cluster_assignments

           cluster
sample_id
180              2
220              2
225              2
316              1
541              2
1167             1
1338             1
1347             1
1367             1
1461             1
1835             1
3392             1
3450             2
3588             2
4337             1
4647             2
4750             2
4983             1
5030             1
5098             2
5130             1
5267             1
5386             2
5557             2
5720             2
6039             1
6268             2
6725             1
6814             1
7109             2
8064             1
8670             1
9161             2
9401             2
9926             2
9953             2